<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo Manager App</title>



</head>

<body>
  <main class="TodoPageMain">
    <article>
      <h1 class="TodoPage-title"> My Todo-List</h1>
      <form class="AddTodo" action="/todos" method="POST">
          <input class="AddTodo-text" type="text" placeholder="What's next?" name="todo_text">
          <input class="AddTodo-date" type="date" name="due_date">
          <input class="AddTodo-button" type="submit" value="Add">
      </form>

      <%= render partial: "todo-section", locals: {
                   section_title: "Overdue",
                   todos: Todo.overdue,
                   show_due_date: true,
                   is_overdue: true,
                 } %>

      <%= render partial: "todo-section", locals: {
                   section_title: "Due Today",
                   todos: Todo.due_today,
                   show_due_date: false,
                   is_overdue: false,
                 } %>

      <%= render partial: "todo-section", locals: {
                   section_title: "Due Later",
                   todos: Todo.due_later,
                   show_due_date: true,
                   is_overdue: false,
                 } %>

    </article>
  </main>

</body>

</html>
